.cvHeaderImg {
	width: 40px;
	height: 40px;
}

.label {
  	font-weight: bold;
}

.dateFromTo {
	font-style: italic;
}

.blockTitle {
	font-size: larger;
	font-weight: bolder;
}

.blockRow {
	margin-bottom: 20px;
}

.languageRow,
.blockRow .activity {
	margin-bottom: 30px;
}

.languageTable th,
.languageTable td{
	font-size: small;
}